In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [17]:
# Load the CSV file
data = pd.read_csv('problem 1.csv')

# Display the first 5 rows of the file
data.head()

     MAGIC_KEY
0  28D5BB06356
1  293BEAB4E98
2  2962EE8065C
3  2957BE29EA9
4  28E351A0745

In [18]:
data.isnull()

       MAGIC_KEY
0          False
1          False
2          False
3          False
4          False
...          ...
58684      False
58685      False
58686      False
58687      False
58688      False

[58689 rows x 1 columns]

In [19]:
data.isnull().any()

MAGIC_KEY    False
dtype: bool

In [20]:
data.isnull().sum()

MAGIC_KEY    0
dtype: int64

In [15]:
#removes rows or columns with missing values
data_cleaned = data.dropna()
data.head()

     MAGIC_KEY
0  28D5BB06356
1  293BEAB4E98
2  2962EE8065C
3  2957BE29EA9
4  28E351A0745

In [14]:
# Remove duplicate rows
data_no_duplicates = data.drop_duplicates()

data.head()

     MAGIC_KEY
0  28D5BB06356
1  293BEAB4E98
2  2962EE8065C
3  2957BE29EA9
4  28E351A0745

In [21]:
data.nunique()

MAGIC_KEY    58689
dtype: int64

In [13]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import LabelEncoder

In [16]:
le = LabelEncoder()
data['MAGIC_KEY'] = le.fit_transform(data['MAGIC_KEY'])
data.head()

   MAGIC_KEY
0       4878
1      52638
2      55221
3      54387
4      15351

In [25]:
correlation_matrix = data.corr()
print(correlation_matrix)

Empty DataFrame
Columns: []
Index: []